body {
  height: 100vh;
  background-image: url(../img/doctor-strange.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 80px 128px 50px 128px;
}
